@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #6f4335;
  --foreground: #171717;
  --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #635f5e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, var(--font-ibm-plex-mono);
}
/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swap') */
